/*
  dol-datepicker 0.1.0 <https://github.com/dolphin0618/dol-datepicker>
  shanghang 2017-12-12
*/
.datepicker-sh{width: 240px;background: #fff;border: 1px solid #ccc;font-size: 12px;display: none;z-index:999}
.datepicker-sh .dp_top{height: 26px;padding: 5px;background: #12a5f8;}
.datepicker-sh .dp_box{float: left;}
.datepicker-sh .box1{width: 120px;}
.datepicker-sh .box2{width: 100px;margin-left: 10px;}
.datepicker-sh .dp_prevX,.datepicker-sh .dp_nextX{width: 20px;height: 26px;float: left;position: relative;}
.datepicker-sh .dp_prevX:hover, .datepicker-sh .dp_nextX:hover{background-color: #12b5f8; }
.datepicker-sh .dp_prevX:after,.datepicker-sh .dp_nextX:after{content: '';display: block;border: 5px solid transparent;position: absolute;top: 8px;left: 5px;}
.datepicker-sh .dp_prevX:after{border-right-color: #fff;}
.datepicker-sh .dp_nextX:after{border-left-color: #fff;}
.datepicker-sh .dp_year,.datepicker-sh .dp_month{width: 80px;height: 26px;float: left;position: relative;cursor: pointer;}
.datepicker-sh .dp_year_val{position: absolute;left: 4px;top: 4px;color: #fff;font-size: 14px;}
.datepicker-sh .dp_down{border:5px solid transparent;border-top-color: #fff;position: absolute;right: 8px;top: 12px;}
.datepicker-sh .dp_year_listBox,.datepicker-sh .dp_month_listBox{width: 120px;position: absolute;top:30px;overflow: hidden;background: #12a5f8;display: none;z-index: 1;}
.datepicker-sh .dp_year_listBox{left: -25px; }
.datepicker-sh .dp_prevY,.datepicker-sh .dp_nextY{display: block;height: 15px;overflow: hidden;}
.datepicker-sh .dp_prevY:hover,.datepicker-sh .dp_nextY:hover{background: #12b5f8;}
.datepicker-sh .dp_prevY:after{content: '';display: block;width: 0;border: 5px solid transparent;border-bottom-color:#fff;margin: 0px auto;}
.datepicker-sh .dp_nextY:after{content: '';display: block;width: 0;border: 5px solid transparent;border-top-color:#fff;margin: 5px auto;}
.datepicker-sh .dp_year_list{overflow: hidden;}
.datepicker-sh .dp_year_list li{width:60px;line-height: 20px;float: left;text-align: center;color: #ccc;cursor:default;}
.datepicker-sh .dp_month{width: 60px;}
.datepicker-sh .dp_month_val{position: absolute;left: 12px;top: 5px;color: #fff;}
.datepicker-sh .dp_month_listBox{width: 100px;left: -15px;}
.datepicker-sh .dp_month_list li{width: 50px;line-height: 29px;float: left;text-align: center;color: #ccc;cursor:default;}
.datepicker-sh .dp_year_list li.normal,.datepicker-sh .dp_month_list li.normal{color:#fff;cursor:pointer;}
.datepicker-sh .dp_year_list li.normal:hover,.datepicker-sh .dp_month_list li.normal:hover{background: #12b5f8;}

.datepicker-sh .db_body{height: 145px;}
.datepicker-sh .db_li li{width: 34px;float: left;text-align: center;color: #eee;height: 20px;line-height: 20px;}
.datepicker-sh .db_week{border-bottom:1px solid #ccc;overflow: hidden;padding-left: 1px;}
.datepicker-sh .db_week li{color: #12a5f8;}
.datepicker-sh .db_day li.normal{color: #00A5f0;}
.datepicker-sh .db_day li.other{color: #ccc;}
.datepicker-sh .db_day li.normal:hover,.datepicker-sh .db_day li.other:hover{background: #12b5f8;color: #fff;cursor: pointer;}
.datepicker-sh .db_day li.on{background: #12a5f8;color: #fff;}

.datepicker-sh .dp_bottom{height: 22px; padding: 5px;position: relative;}
.datepicker-sh .dp_time{border: 1px solid #ccc;height: 20px;line-height: 20px;float: left;}
.datepicker-sh .dp_timefont{float: left;padding: 0 5px;}
.datepicker-sh .dp_time_box,.datepicker-sh .dp_cl_r{float: left;border-left:1px solid #ccc;}
.datepicker-sh .dp_time_box li{float: left;}
.datepicker-sh .dp_time_box input{width: 20px;text-align: center;border: none;outline: none;cursor: pointer;}
.datepicker-sh .dp_btns{border: 1px solid #ccc;float: right;height: 20px;line-height: 20px;text-align: center;}
.datepicker-sh .dp_btn{width: 25px;display: block;float: left;color: #666;text-decoration: none;padding: 0 5px;}
.datepicker-sh .dp_btn.dis{color: #ccc}
.datepicker-sh .dp_btn:hover{background: #eee;}

.datepicker-sh .dp_timebox{width: 100px;height: 100px;background: #fff;position: absolute;bottom: 25px;border: 1px solid #ccc;display: none;z-index: 1}
.datepicker-sh .dp_timebox.dp_60{width: 200px;height: 140px;}
.datepicker-sh .dp_timebox.dp_24{width: 125px;height: 105px;}
.datepicker-sh .dp_head{line-height: 20px;border-bottom: 1px solid #ccc;position: relative;text-align: center;color: #12a5f8;}
.datepicker-sh .db_close{position: absolute;right: 5px;font-style: normal;cursor: pointer;}
.datepicker-sh .dp_timebox ul li{float: left;width: 20px;text-align: center;line-height: 20px;color: #eee;}
.datepicker-sh .dp_timebox ul li.on{background: #12a5f8;color: #fff;cursor: pointer;}
.datepicker-sh .dp_timebox ul li.normal{color: #12a5f8;cursor: pointer;}
.datepicker-sh .dp_timebox ul li.normal:hover{background: #12b5f8;color: #fff;}
